* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font: inherit;
    vertical-align: baseline;
    color: inherit;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
}

body {
    color: #333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background: #f4f4f4;
    overflow-y: visible;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.white {
    color: #fff;
}

img,
iframe {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

strong,
.bold {
    font-weight: 700;
}

em,
.italic {
    font-style: italic;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:active {
    text-decoration: none;
    opacity: 0.95;
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.ib {
    display: inline-block;
}

.viz_hidden {
    visibility: hidden;
}

.clearfix {
    clear: both;
}

input[type="checkbox"],
label {
    vertical-align: middle;
}

input,
textarea,
button {
    outline: none;
}

button {
    cursor: pointer;
}

a:hover {
    color: #0279FF;
    opacity: 0.9;
}

p {
    margin: 0 0 5px;
}

label {
    margin-bottom: 0;
}

input[type=checkbox],
input[type=radio] {
    margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}


/*************************
*
*	SITE GENERAL START
*
*************************/

body {
    background-color: #E9F5F3;
}

.page {
    /*display: none;*/
    /*overflow-y: hidden;*/
    transition: all .5s linear;
}

.page2 {
    background-color: #F5F2E9;
}

.page3 {
    background-color: #E9EAF5;
}

.page4 {
    background-color: #F5E9F2;
}

.page5 {
    background-color: #EAF5E9;
    
}
.pageContact{
    background-color: #E9F5F3;
}

#pageLoader{
    opacity: 1;
    transition: all .25s linear;
}
#pageLoader.pageLoaded{
    opacity: 0;
    visibility: hidden;
}

.whiteBox{
    position: absolute;
    width: 1100px;
    height: 480px;
    max-width: calc(100% - 20px);
    transform: translateX(-2104px);
    -webkit-transform: translateX(-2104px);
    transition: transform .5s linear;
    -webkit-transition: transform .5s linear;
    z-index: 1;
}
.slideBeforeActive{
    transform: translateX(-1052px);
    -webkit-transform: translateX(-1052px);
}
.whiteBox .centeredBox{
    width: 1100px;
    max-width: 100%;
    margin: auto;
}
.flexBoxLeft img{
    opacity: 0;
    transition: all .5s linear;
}
.slideActive .flexBoxLeft img{
    opacity: 1;
}
.slideActive{
    transform: translateX(calc((100vw - 1105px)/2));
    -webkit-transform: translateX(calc((100vw - 1105px)/2));
    opacity: 1;
    z-index: 99;
}

.slideActive ~ .whiteBox{
    transform: translateX(calc(200vw - 64px));
    -webkit-transform: translateX(calc(200vw - 64px));
}
.slideActive + .whiteBox{
    transform: translateX(calc(100vw - 52px));
    -webkit-transform: translateX(calc(100vw - 52px));
}
.centeredBox{
    transition: all .25s linear;
}
.centeredBox.hiddencenteredBox{
    opacity: 0;
    visibility: hidden;
}


.whiteBox:after,
.whiteBox:before{
    content: "❯";
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 100%;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border-radius: 24px 0 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0;
}
.whiteBox:after{
    content: "❮";
    left: auto;
    right: 0;
    opacity: 1;
    border-radius: 0 24px 24px 0;
    transition: opacity .5s linear;
    padding-right: 20px;
    justify-content: flex-end;
}
.slideActive:after{
    opacity: 0;
    transition: opacity .1s linear;
    /*visibility: hidden;*/
}
.slideActive + .whiteBox:before{
    opacity: 1;
    transition: opacity .5s linear;
}
.left,
.right {
    cursor: pointer;
    position: relative;
    bottom: 0;
    width: 48px;
    height: 480px;
    background-color: #FFFFFF;
    padding: 16px;
    /*font-weight: bold;*/
    font-size: 18px;
    transition: 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    opacity: 0;
    /*visibility: hidden;*/
}

.right {
    border-radius: 24px 0 0 24px;
    right: 0;
}

.left {
    border-radius: 0 24px 24px 0;
    left: 0;
    visibility: visible;
}
.page1 .left{
    visibility: hidden;
}
.slideActive + .right{
    display: none;
}

.left:hover,
.right:hover{
    /*background: #333;*/
    /*color: #333;*/
    /*opacity: 1;*/
    opacity: 0;
}
.mainContainer {
    width: 1200px;
    margin: auto;
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.pageContent {
    width: 100%;
    min-height: calc(100vh - 458px);
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 80px;
}

.pageContent > .mainContainer{

}

.pageTitle {
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
}
.moreContentPage .moreContentBottom{
    padding-bottom: 50px;
}
.moreContentBottom{
    position: relative;
}
.moreContentBottom .moreContent{
    position: absolute;
    transform: translateY(190%);
    opacity: 0;
    z-index: -1;
    width: 100%;
    background: #fff;
    width: 1200px;
    height: 0;
    overflow: hidden;
    min-height: 0;
    padding: 0;
    transition: transform .5s linear;
    left: 0;
    right: 0;
    top: 0;
}

.moreContent.moreContentActive{
    transform: translateY(0);
    opacity: 1;
    z-index: 99;
    top: 0;
    height: auto;
    overflow: initial;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 480px;
    position: relative;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -480px;
}

.moreContentPage .centeredBox{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-180%);
}
.moreContentPage .right,
.moreContentPage .left{
    opacity: 0;
    visibility: hidden;
}

.moreContentPage .pageContent {
    min-height: initial;
}
.moreContentPage .whiteBox{
    height: auto;
    min-height: initial;
}
.moreContentPage .whiteBox{
    opacity: 0;
}
.moreContentPage .buttonsBelow{
    transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
}
.moreContentPage .moreContentActive{
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.moreContentPage .moreContentActive + .buttonsBelow{
    transform: translateX(100vw);
    -webkit-transform: translateX(100vw);
}



.closeButton {
    position: sticky;
    top: 40px;
    left: 100%;
    margin-right: -60px;
    margin-top: -80px;
    width: 48px;
    height: 48px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #3F3F3F;
    cursor: pointer;
}
.closeButton:hover {
  opacity: 1;
}
.closeButton:before, .closeButton:after {
  position: absolute;
  left: 21px;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #333;
}
.closeButton:before {
  transform: rotate(45deg);
}
.closeButton:after {
  transform: rotate(-45deg);
}

.socialContentLine{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.socialContent{
    color: #3F3F3F; 
    font-size: 18px; 
    font-weight: 500;
    line-height: 28px;
}
.icon{
    display: inline-block;
    width: 48px;
    height: 48px;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-mail { 
    background-image: 
        url("data:image/svg+xml;utf8,<svg id='Capa_1' enable-background='new 0 0 479.058 479.058' height='512' viewBox='0 0 479.058 479.058' width='512' xmlns='http://www.w3.org/2000/svg'><path d='m434.146 59.882h-389.234c-24.766 0-44.912 20.146-44.912 44.912v269.47c0 24.766 20.146 44.912 44.912 44.912h389.234c24.766 0 44.912-20.146 44.912-44.912v-269.47c0-24.766-20.146-44.912-44.912-44.912zm0 29.941c2.034 0 3.969.422 5.738 1.159l-200.355 173.649-200.356-173.649c1.769-.736 3.704-1.159 5.738-1.159zm0 299.411h-389.234c-8.26 0-14.971-6.71-14.971-14.971v-251.648l199.778 173.141c2.822 2.441 6.316 3.655 9.81 3.655s6.988-1.213 9.81-3.655l199.778-173.141v251.649c-.001 8.26-6.711 14.97-14.971 14.97z'/></svg>");
}

.icon-tel{
    background-image: 
        url("data:image/svg+xml;utf8,<svg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 482.6 482.6' style='enable-background:new 0 0 482.6 482.6;' xml:space='preserve'><g><path d='M98.339,320.8c47.6,56.9,104.9,101.7,170.3,133.4c24.9,11.8,58.2,25.8,95.3,28.2c2.3,0.1,4.5,0.2,6.8,0.2 c24.9,0,44.9-8.6,61.2-26.3c0.1-0.1,0.3-0.3,0.4-0.5c5.8-7,12.4-13.3,19.3-20c4.7-4.5,9.5-9.2,14.1-14 c21.3-22.2,21.3-50.4-0.2-71.9l-60.1-60.1c-10.2-10.6-22.4-16.2-35.2-16.2c-12.8,0-25.1,5.6-35.6,16.1l-35.8,35.8 c-3.3-1.9-6.7-3.6-9.9-5.2c-4-2-7.7-3.9-11-6c-32.6-20.7-62.2-47.7-90.5-82.4c-14.3-18.1-23.9-33.3-30.6-48.8 c9.4-8.5,18.2-17.4,26.7-26.1c3-3.1,6.1-6.2,9.2-9.3c10.8-10.8,16.6-23.3,16.6-36s-5.7-25.2-16.6-36l-29.8-29.8         c-3.5-3.5-6.8-6.9-10.2-10.4c-6.6-6.8-13.5-13.8-20.3-20.1c-10.3-10.1-22.4-15.4-35.2-15.4c-12.7,0-24.9,5.3-35.6,15.5l-37.4,37.4         c-13.6,13.6-21.3,30.1-22.9,49.2c-1.9,23.9,2.5,49.3,13.9,80C32.739,229.6,59.139,273.7,98.339,320.8z M25.739,104.2         c1.2-13.3,6.3-24.4,15.9-34l37.2-37.2c5.8-5.6,12.2-8.5,18.4-8.5c6.1,0,12.3,2.9,18,8.7c6.7,6.2,13,12.7,19.8,19.6         c3.4,3.5,6.9,7,10.4,10.6l29.8,29.8c6.2,6.2,9.4,12.5,9.4,18.7s-3.2,12.5-9.4,18.7c-3.1,3.1-6.2,6.3-9.3,9.4         c-9.3,9.4-18,18.3-27.6,26.8c-0.2,0.2-0.3,0.3-0.5,0.5c-8.3,8.3-7,16.2-5,22.2c0.1,0.3,0.2,0.5,0.3,0.8         c7.7,18.5,18.4,36.1,35.1,57.1c30,37,61.6,65.7,96.4,87.8c4.3,2.8,8.9,5,13.2,7.2c4,2,7.7,3.9,11,6c0.4,0.2,0.7,0.4,1.1,0.6         c3.3,1.7,6.5,2.5,9.7,2.5c8,0,13.2-5.1,14.9-6.8l37.4-37.4c5.8-5.8,12.1-8.9,18.3-8.9c7.6,0,13.8,4.7,17.7,8.9l60.3,60.2         c12,12,11.9,25-0.3,37.7c-4.2,4.5-8.6,8.8-13.3,13.3c-7,6.8-14.3,13.8-20.9,21.7c-11.5,12.4-25.2,18.2-42.9,18.2         c-1.7,0-3.5-0.1-5.2-0.2c-32.8-2.1-63.3-14.9-86.2-25.8c-62.2-30.1-116.8-72.8-162.1-127c-37.3-44.9-62.4-86.7-79-131.5 C28.039,146.4,24.139,124.3,25.739,104.2z'/></g></svg>");
}

.icon-twitter { 
    background-image: 
        url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 52.851 52.851' style='enable-background:new 0 0 52.851 52.851;' xml:space='preserve'><g><path d='M52.412,9.656c-0.354-0.24-0.823-0.227-1.165,0.031c-0.449,0.34-1.179,0.61-1.965,0.818 c2.047-2.294,2.091-3.826,2.069-4.178c-0.023-0.364-0.242-0.687-0.572-0.842c-0.331-0.156-0.719-0.118-1.014,0.096 c-2.303,1.674-4.597,2.027-5.961,2.063c-2.094-2.004-4.813-3.102-7.707-3.102c-6.196,0-11.236,5.108-11.236,11.386 c0,0.54,0.038,1.079,0.113,1.613C14.236,17.42,5.516,7.131,5.426,7.024c-0.21-0.25-0.528-0.384-0.854-0.355 c-0.326,0.028-0.617,0.213-0.78,0.497C0.702,12.526,2.77,17.234,4.66,19.93c-0.334-0.178-0.605-0.354-0.767-0.473 c-0.3-0.224-0.701-0.261-1.039-0.095c-0.337,0.166-0.552,0.506-0.559,0.881c-0.083,5.108,2.375,8.034,4.687,9.652 c-0.308-0.029-0.621,0.085-0.835,0.318c-0.24,0.261-0.325,0.63-0.221,0.969c1.597,5.227,5.518,7.003,8.013,7.606 c-5.13,3.994-12.68,2.708-12.763,2.694c-0.456-0.081-0.906,0.159-1.092,0.582c-0.185,0.422-0.059,0.917,0.309,1.197 c5.415,4.133,11.892,5.048,16.57,5.048c3.539,0,6.05-0.524,6.29-0.577c23.698-5.616,24.365-27.323,24.31-30.88 c4.449-4.137,5.144-5.713,5.251-6.103C52.929,10.336,52.767,9.896,52.412,9.656z M45.874,15.691c-0.223,0.205-0.34,0.5-0.32,0.803 c0.063,0.96,1.275,23.597-22.742,29.288c-0.109,0.023-9.656,2.015-17.932-2.085c3.497-0.097,8.511-1.013,12.004-4.935 c0.264-0.295,0.328-0.719,0.164-1.079c-0.162-0.357-0.519-0.586-0.91-0.586c-0.003,0-0.007,0-0.01,0 c-0.05,0.032-5.301-0.006-7.705-5.001c0.968,0.055,2.162-0.005,3.113-0.443c0.392-0.181,0.623-0.592,0.575-1.021 c-0.048-0.428-0.366-0.777-0.788-0.866c-0.269-0.057-6.115-1.364-6.933-7.741c0.887,0.388,2.022,0.705,3.144,0.534 c0.386-0.058,0.702-0.335,0.811-0.71s-0.01-0.779-0.305-1.035c-0.25-0.218-5.74-5.097-3.137-11.39 c2.826,2.965,11.196,10.67,21.337,10.088c0.297-0.017,0.572-0.167,0.749-0.407c0.176-0.24,0.236-0.546,0.164-0.835 c-0.192-0.765-0.29-1.553-0.29-2.341c0-5.176,4.144-9.386,9.237-9.386c2.491,0,4.828,0.994,6.579,2.8 c0.184,0.19,0.437,0.299,0.701,0.304c1.06,0.015,2.802-0.11,4.77-0.899c-0.568,0.707-1.402,1.554-2.629,2.518 c-0.347,0.273-0.474,0.74-0.313,1.151c0.161,0.412,0.577,0.671,1.011,0.632c0.233-0.019,1.421-0.123,2.764-0.414 C48.249,13.423,47.246,14.429,45.874,15.691z'/></g></svg>");
}

.icon-facebook { 
    background-image: 
        url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 48.605 48.605' style='enable-background:new 0 0 48.605 48.605;' xml:space='preserve'><g><path d='M34.094,8.688h4.756V0.005h-8.643c-0.721-0.03-9.51-0.198-11.788,8.489c-0.033,0.091-0.761,2.157-0.761,6.983l-7.903,0.024 v9.107l7.913-0.023v24.021h12.087v-24h8v-9.131h-8v-2.873C29.755,10.816,30.508,8.688,34.094,8.688z M35.755,17.474v5.131h-8v24 h-8.087V22.579l-7.913,0.023v-5.107l7.934-0.023l-0.021-1.017c-0.104-5.112,0.625-7.262,0.658-7.365 c1.966-7.482,9.473-7.106,9.795-7.086l6.729,0.002v4.683h-2.756c-4.673,0-6.338,3.054-6.338,5.912v4.873L35.755,17.474  L35.755,17.474z'/></g></svg>");
}

.icon-instagram { 
    background-image: 
        url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 48 48' style='enable-background:new 0 0 48 48;' xml:space='preserve'><g><path d='M40.4,5.5H35.6c-1.434,0-2.6,1.166-2.6,2.6V12.9c0,1.434,1.166,2.6,2.6,2.6H40.4c1.434,0,2.6-1.166,2.6-2.6V8.1 C43,6.666,41.834,5.5,40.4,5.5z M41,12.9c0,0.331-0.269,0.6-0.6,0.6H35.6c-0.331,0-0.6-0.269-0.6-0.6V8.1 c0-0.331,0.269-0.6,0.6-0.6H40.4c0.331,0,0.6,0.269,0.6,0.6V12.9z'/><path d='M37.8,0.5H10.2C4.576,0.5,0,5.089,0,10.731V17.5v2v17.77C0,42.911,4.576,47.5,10.2,47.5h27.6 c5.624,0,10.2-4.589,10.2-10.23V19.5v-2v-6.769C48,5.089,43.424,0.5,37.8,0.5z M46,37.27c0,4.538-3.679,8.23-8.2,8.23H10.2 c-4.522,0-8.2-3.692-8.2-8.23V19.5h12.221C11.62,22.043,10,25.584,10,29.5c0,7.72,6.28,14,14,14s14-6.28,14-14 c0-3.916-1.62-7.457-4.221-10H46V37.27z M36,29.5c0,6.617-5.383,12-12,12s-12-5.383-12-12s5.383-12,12-12S36,22.883,36,29.5z M31.174,17.5c-2.101-1.261-4.55-2-7.174-2s-5.073,0.739-7.174,2H2v-6.769C2,6.192,5.679,2.5,10.2,2.5h27.6  c4.521,0,8.2,3.692,8.2,8.231V17.5H31.174z'/><path d='M15,29.5c0,4.962,4.037,9,9,9s9-4.038,9-9s-4.037-9-9-9S15,24.538,15,29.5z M31,29.5c0,3.86-3.141,7-7,7s-7-3.14-7-7 s3.141-7,7-7S31,25.64,31,29.5z'/></g></svg>");
}

/*************************
*
*	SITE GENERAL END
*
*************************/


/*************************
*
*	HEADER START
*
*************************/

.siteHeader {
    padding-top: 8vh;
    margin-bottom: 9vh;
}


.logoWrap {
    margin-bottom: 48px;
    display: block;
}

.mainMenuElement {
    display: inline-block;
    color: #3F3F3F;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 40px;
}

.mainMenuElement.active {
    /*font-weight: 800;*/
}

.page1 .aboutBtn{
    font-weight: 700;
}
.page2 .projectsBtn,
.page3 .projectsBtn,
.page4 .projectsBtn,
.page5 .projectsBtn,
.page6 .projectsBtn,
.page7 .projectsBtn,
.page8 .projectsBtn,
.page9 .projectsBtn,
.page10 .projectsBtn,
.page11 .projectsBtn{
    font-weight: 700;
}
.pageContact .contactBtn{
    font-weight: 700;
}
.pageContact .projectsBtn{
    font-weight: 500;
}
/* Effect 5: same word slide in */

.topMenu a:hover,
.topMenu a:focus {
    outline: none;
    color: #3F3F3F;
}

.topMenu a {
    overflow: hidden;
    padding-right: 5px;
    height: 1em;
    position: relative;
    display: inline-block;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.topMenu a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.topMenu a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 700;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.topMenu a:hover span,
.topMenu a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.socialIconsMenu{
    display: none;
}

.mobileButton {
    width: 36px;
    height: 32px;
    /*border: 1px solid #b61c1c;*/
    -webkit-border-radius: 2px;
            border-radius: 2px;
    color: #b61c1c;
    text-align: center;
    font-size: 17px;
    padding-top: 2px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    top: -3px;
    display: none;
}
.mobileButton span{
    display: block;
    position: absolute;
    height: 2px;
    width: 80%;
    background: #3F3F3F;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


/* Icon 3 */

.mobileButton span:nth-child(1) {
    top: 9px;

}

.mobileButton span:nth-child(2),.mobileButton span:nth-child(3) {
    top: 18px;
}

.mobileButton span:nth-child(4) {
    top: 27px;
}

.mobileMenuActive .mobileButton span:nth-child(1) {
    top: 16px;
    width: 0%;
    left: 50%;
}

.mobileMenuActive .mobileButton span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mobileMenuActive .mobileButton span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mobileMenuActive .mobileButton span:nth-child(4) {
    top: 16px;
    width: 0%;
    left: 50%;
}


/*************************
*
*	HEADER END
*
*************************/


/*************************
*
*	FOOTER START
*
*************************/

footer {
    height: 60px;
    padding-top: 5px;
    margin-top: 100px;
    margin-bottom: 10px;
    color: #C9C9C9
}
.footerText{
    font-weight: 500;
}

/*************************
*
*	FOOTER END
*
*************************/


/*************************
*
*	04B Project_04A START
*
*************************/

.contentWhiteBox {
    background: #FFF;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    padding-top: 80px;
    padding-bottom: 80px;
    /*position: relative;*/
    min-height: 480px;
}



.blueTitle {
    color: #0279FF;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    border-bottom: 2px solid #D8D8D8;
    padding-bottom: 16px;
    margin-top: 30px;
    text-transform: uppercase;
}

.textTitle {
    color: #3F3F3F;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin: 40px 0 20px 0;
}

.contentWhiteBox .textContent {
    padding-left: 80px;
    padding-right: 80px;
}

.mainP {
    color: #3F3F3F;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 20px;
}


/* Introduction */

.subscriptP {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}


/* Discover */
.buttonsBelow{
    padding-bottom: 100px;
}
.embededPDF {
    width: 100%;
    height: 487px;
    border-radius: 24px;
    overflow: hidden;
}

.embededPDF iframe {
    width: 100%;
    height: 100%;
}

.photos {
    height: 486px;
    width: 100%;
    border-radius: 24px;
    display: flex;
    justify-content: space-around;
}

.photoLeft {
    display: flex;
    height: 486px;
    width: 45%;
    border-radius: 24px 0 0 24px;
    background-size: cover;
    background-position: center;
}
.photoRight{
    width: 54%;
}
.photoRUp {
    display: flex;
    height: 282px;
    width: 100%;
    border-radius: 0 24px 0 0;
    background-size: cover;
    background-position: center;
}

.photoRDown {
    height: 202px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    background-size: cover;
    background-position: center;
}

.photoDownLeft {
    display: flex;
    height: 202px;
    width: 45%;
    background-size: cover;
    background-position: center;
}

.photoDownRight {
    height: 202px;
    width: 54%;
    border-radius: 0 0 24px 0;
    background-size: cover;
    background-position: center;
}

.blueCenter {
    min-height: 144px;
    width: auto;
    text-align: center;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.blueP {
    color: #0279FF;
    font-family: Georgia;
    font-size: 32px;
    font-style: italic;
    line-height: 36px;
    margin: 0 40px 0 40px;
}


/* Design */

.singlePhoto {
    box-sizing: border-box;
    height: 487px;
    width: 929px;
    border: 1px solid #979797;
    border-radius: 24px;
}


/* Launch */

#yellowDiv {
    background-color: #E0D6B8;
    padding-top: 1px;
    padding-bottom: 80px;
}

.yellowContainer {
    height: 544px;
    width: 926px;
    max-width: 100%;
    margin-top: 40px;
}

.ytIframe iframe {
    height: 100%;
    width: 100%;
}


/* Measure */

.boldP {
    color: #3F3F3F;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-right: 40px;
    display: inline-block;
}

.win {
    border-bottom: 2px solid #D8D8D8;
    height: 80px;
    line-height: 80px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.win p {
    margin-bottom: 0;
}

#withoutBorder {
    border: none;
}

.procent {
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
}

#p1 {
    width: 464px;
}

#p2 {
    width: 285px;
}

#p3 {
    width: 386px;
}

#p4 {
    width: 302px
}

.buttonsDiv {
    position: relative;
    margin-top: 120px;
    border-top: 8px solid #EAF5E9;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.buttonsDiv .btnLeft,
.buttonsDiv .btnRight {
    height: 104px;
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: #FFF;
    color: #3F3F3F;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.14px;
    line-height: 19px;
    cursor: pointer;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.buttonsDiv .btnLeft:hover,
.buttonsDiv .btnRight:hover {
    background: #3F3F3F;
    color: #fff;
}

.buttonsDiv .btnLeft {
    border-right: 4px solid #EAF5E9;
    -webkit-border-radius: 0 0 0 25px;
    border-radius: 0 0 0 25px;
}

.buttonsDiv .btnRight {
    left: auto;
    right: 0;
    border-left: 4px solid #EAF5E9;
    -webkit-border-radius: 0 0 25px 0;
    border-radius: 0 0 25px 0;
}


/* Start Carousel Slider */

.contentWithSlider {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contentWithSlider .tns-inner {
    width: 2900px!important;
    position: relative;
    left: 80px;
}

.sliderItemImage {
    display: block;
    width: 940px;
    max-width: 100%;
    height: 490px;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    position: relative;
}

.maximizeBtn {
    background: url(../images/maximize@2x.png);
    height: 48px;
    width: 48px;
    top: 24px;
    right: 24px;
    position: absolute;
    -webkit-background-size: 24px;
    -o-background-size: 24px;
    background-size: 24px;
    background-color: #FFFFFF;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    z-index: 999;
    display: none;
}

.tns-outer {
    position: relative;
}

.tns-controls {
    position: relative;
    z-index: 9999;
}

.tns-controls button {
    position: absolute;
    width: 54px;
    height: 490px;
    color: transparent;
    background: transparent;
    -webkit-border-radius: 0 24px 24px 0;
    border-radius: 0 24px 24px 0;
}

.tns-controls button:nth-child(2) {
    right: 0;
    -webkit-border-radius: 24px 0 0 24px;
    border-radius: 24px 0 0 24px;
}

.tns-item .sliderItemImage:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.75;
    -webkit-border-radius: 24px;
    border-radius: 24px;
}

.tns-slide-active:first-of-type {
    display: none;
}

.tns-slide-active .sliderItemImage:after {
    opacity: 0;
}

.tns-slide-active~.tns-slide-active .sliderItemImage:after {
    opacity: 0.75;
}

.tns-slide-active .maximizeBtn {
    display: block;
}


/* End Carousel Slider */


/*************************
*
*	04B Project_04A END
*
*************************/


/*************************
*
*	01A About START
*
*************************/

.flexBox {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 320px;
    -ms-align-items: center;
    align-items: center;
}

.pageTitle {
    font-size: 72px;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 20px;
}

.profileImage{
    width: 296px;
    height: 296px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.flexBoxTitle {
    position: absolute;
    height: 80px;
    left: 0;
    top: -80px;
    width: 100%;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    padding-left: 50px;
}

.flexBoxLeft {
    width: 38%;
    position: relative;
    height: 320px;
}

.flexBoxLeft img {
    max-width: initial;
    max-height: initial;
    position: absolute;
    top: 6px;
    left: -20px;
}
#whiteBox2 .flexBoxLeft img{
    left: -25px;
    top: 70px;
}
#whiteBox3 .flexBoxLeft img{
    left: -65px;
    top: 100px;
}
.flexBoxRight {
    width: 62%;
    position: relative;
    z-index: 9;
}

.topAreaRight{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-bottom: 35px;
}

.mt80{
    margin-top: 80px;
}

.topAreaRight .cvContact{
    width: 100%;
    margin-bottom: 0;
}

.knowMore {
    margin-top: 35px;
    text-decoration: none;
    height: 48px;
    width: 176px;
    border: 1px solid #3F3F3F;
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.14px;
    line-height: 48px;
    text-align: center;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.knowMore:hover {
    background: #3F3F3F;
    color: #fff;
}

.aboutLeftImage img {
    width: 1280px;
    height: 668px;
    top: -175px;
    left: -95px;
}


/*************************
*
*	01A About END
*
*************************/


/*************************
*
*	01A About Content START
*
*************************/

.topAreaLeft img {
    position: absolute;
    top: 20%;
    left: 20%;
}

.cvContact {
    text-align: left;
    margin-bottom: 2%;
}

.awards {
    margin-top: 5%;
}
.awards .blockP{
    margin-bottom: 20px;
}

.blockP {
    color: #3F3F3F;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    display: block;
}
.cvFooter{
    background-color: #BFE7E0;
    height: 104px;
    border-radius: 0 0 24px 24px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: -80px;
    margin-top: 75px;
}
.whiteButton{
    display: inline-block;
    border: 1px solid #3F3F3F;
    padding: 14px 33px;
    background: #fff;
    font-size: 16px;    
    font-weight: 500;   
    letter-spacing: 1.14px;
    transition: all .25s linear;
}
.whiteButton:hover{
    background: #3F3F3F;
    color: #fff;
}
.cvFooter .whiteButton{
    margin-right: 40px;
}
/*************************
*
*	01A About Content END 
*
*************************/


/*************************
*
*	Contact START 
*
*************************/

form {
    margin-bottom: 50px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.formFlexItem {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

.formFlexItem input {
    height: 70px;
    width: 100%;
    line-height: 70px;
    color: #3F3F3F;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid #D5D5D5;
    transition: all .25s linear;
}

.formFlexItem input:focus {
    border-bottom: 2px solid #68C200;
}

.formFlexItem input:focus::placeholder {
    color: #3f3f3f;
}

.formFlexItem textarea {
    height: 155px;
    width: 425px;
    border: 2px solid #D5D5D5;
    color: #bbb8b8;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    transition: all .25s linear;
    resize: none;
}

.formFlexItem textarea:focus {
    border: 2px solid #68c200;
}

.formFlexItem textarea:focus::placeholder {
    color: #3f3f3f;
}

.secondFlex {
    padding-top: 40px;
}

.secondFlex span {
    margin-bottom: 10px;
    color: #3F3F3F;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

#contactForm #btnContact {
    float: right;
    height: 48px;
    width: 176px;
    border: 1px solid #3F3F3F;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.14px;
    line-height: 19px;
    text-align: center;
}

#contactForm #btnContact:hover {
    background-color: #68c200;
    border-color: #68c200;
    color: #fff;
    transition: all .25s linear;
    opacity: 1;
}

.contactFooter {
    min-height: 64px;
    width: 100%;
    border-radius: 0 0 24px 24px;
    background-color: #BFE7E0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

.cvContactinline {
    width: 30%;
    text-align: left;
}
.contactFooter .contactLineIcons{
    text-align: right;
    margin-right: -10px;
}

.cvContactinline .social{
    display: none;
    
}

/*************************
*
*	Contact END
*
*************************/


/*************************
*
*	popUp END
*
*************************/

.popupContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 140px;
}

.popupText {
    width: 51%;
    text-align: center;
}

.popupP1 {
    color: #3F3F3F;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
}

.popupP2 {
    color: #3F3F3F;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.okey a {
    color: #3F3F3F;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.14px;
    line-height: 48px;
    text-align: center;
    box-sizing: border-box;
    height: 48px;
    width: 176px;
    border: 1px solid #3F3F3F;
    background-color: #FFFFFF;
    display: inline-block;
}

.mainPopUp {
    margin-top: 15%;
}
.pageContent{

}

/*************************
*
*	popup END
*
*************************/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


@media screen and (min-height:1280px){

 /*    width
 ::-webkit-scrollbar {
   width: 5px;
 }
 
 Track
 ::-webkit-scrollbar-track {
   background: #f1f1f1; 
 }
  
 Handle
 ::-webkit-scrollbar-thumb {
   background: #888; 
 }
 
 Handle on hover
 ::-webkit-scrollbar-thumb:hover {
   background: #555; 
 }
  */
}

@media screen and (max-width:1366px){
    
    
    /* 
    .slideActive .flexBoxLeft img{
        width: calc(100vw - 110px);
        top: auto;
        bottom: -120px;
        left: -10px;
    } */
    .pageTitle{
        font-size: 48px;
        line-height: 1.1;
    }
    .moreContent{
        max-width: calc(100% - 110px);
    }
    .closeButton{
        width: 36px;
        height: 36px;
        margin-right: -45px;
    }
    .closeButton:before, .closeButton:after{
        left: 15px;
    }
    .flexBoxLeft img{
        max-width: 450px;
        max-height: 400px;
        left: 0;
    }
    #whiteBox2 .flexBoxLeft img{
        left: 0;
    }
    #whiteBox3 .flexBoxLeft img{
        left: auto;
    }
}

@media screen and (max-width:1281px){
    /* width */
    ::-webkit-scrollbar {
      width: initial;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: initial; 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: initial; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: initial; 
    }
}

@media screen and (max-width:1200px){
    .whiteBox{
        max-width: calc(100% - 110px);
        transform: translateX(-200vw);
        -webkit-transform: translateX(-200vw);
    }
    .slideActive{
        transform: translateX(55px);
        -webkit-transform: translateX(55px);
    }
    .left, .right{
        width: 36px;
    }
    .whiteBox:after, .whiteBox:before{
        width: 36px;
        font-size: 14px;
    }
    .slideActive + .whiteBox{
        transform: translateX(calc(100vw - 36px));
        -webkit-transform: translateX(calc(100vw - 36px));
    }
    .slideBeforeActive{
        transform: translateX(calc(-100% + 36px));
        -webkit-transform: translateX(calc(-100% + 36px));
    }
    .sliderItemImage{
        max-width: calc(100vw - 270px);
    }
    .contentWithSlider .tns-inner{
        max-width: calc((100vw - 270px)*3 + 80px);
    }
    .contentWhiteBox .textContent{
        padding-left: 40px;
        padding-right: 40px;
    }
    .flexBoxRight{
        width: 55%;
        max-width: 550px;
    }
    .flexBoxLeft img{
        max-width: 40vw;
        max-height: 350px;
        left: 0;
    }
    .flexBoxLeft{
        margin-left: 1%;
    }
    .contactFooter{
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        min-height: 64px;
        padding: 15px 40px;
    }
    .cvContactinline{
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
    #whiteBoxContact .contentWhiteBox{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .contentWithSlider .tns-inner{
        max-width: calc((100vw - 190px)*3 + 80px);
    }
    .sliderItemImage{
        max-width: calc(100vw - 190px);
    }
    .contentWithSlider .tns-inner{
        left: 40px;
    }
}
@media screen and (max-width: 1023px){

    #whiteBoxContact .contentWhiteBox{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .mainP{
        font-size: 16px;
        line-height: 1.5;
    }

    .formFlexItem input{
        font-size: 16px;
        height: 40px;
        height: 40px;
        margin-top: 5px;
    }

    .formFlexItem{
        width: 100%;
    }

    #contactForm .form{
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .secondFlex span{
        display: none;
    }

    .secondFlex textarea{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        padding-left: 0;
        font-size: 16px;
        height: 100px;
    }
    
    .formFlexItem textarea:focus {
        border: none;
        border-bottom: 2px solid #68c200;
    }
}
@media screen and (max-width: 991px){
    .pageTitle{
        font-size: 36px;
    }
    .socialContent{
        font-size: 16px;
    }
    .profileImage{
        width: 200px;
        height: 200px;
    }
    .flexBoxLeft{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
    }
}
@media screen and (max-width: 768px){

    .cvContactinline .socialContent{
        display: none;
    }
    .cvContactinline .social{
        display: inline-block;
        
    }
    .contactFooter .contactLineIcons{
        /*text-align: left;*/
        width: calc(100% - 90px);
    }
    .contactLineIcons .icon{
        width: 36px;
        height: 36px;
    }

    .siteHeader{
        padding-top: 0;
        background-color: #BFE7E0;
        z-index: 999;
        margin-bottom: 30px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .page{
        padding-top: 90px;
    }
    .mobileButton{
        display: block;
    }
    .logoWrap{
        margin-bottom: 0;
    }
    .logoWrap img{
        width: 33px;
        margin-top: 2px;
    }
    .siteHeader .mainContainer{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        padding: 10px 55px;
    }
    .socialIconsMenu{
        display: block;
    }
    .topMenu{
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        background-color: #BFE7E0;
        box-shadow: 0 6px 5px rgba(0, 0, 0, 0.15);
        padding-top: 20px;
        opacity: 0;
        visibility: hidden;
        z-index: -10;
        transition: all .25s linear;
    }
    .mobileMenuActive .topMenu{
        opacity: 1; 
        visibility: visible;
        z-index: 999;
    }
    .mainMenuElement{
        width: 100%;
    }
    .mainMenuElement a{
        display: flex;
        width: 100%;
        height: 50px;
        -ms-align-items: center;
        align-items: center;
        padding-left: 55px;
        padding-right: 55px;
    }
    .mainMenuElement > a{
        border-bottom: 1px solid #3f3f3f40;
    }
    .topMenu a span::before{
        display: none;
        
    }
    .topMenu a:hover span, .topMenu a:focus span{
        transform: none;
    }
    .mainContainer{
        padding-left: 20px;
        padding-right: 20px;
    }
    .socialIconsMenuLine{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        justify-content: space-between;
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 10px;
    }
    .socialIconsMenuLine .icon{
        width: 36px;
        height: 36px;
        -webkit-background-size: 20px;
        background-size: 20px;
    }
    .socialIconsMenuRight,
    .socialIconsMenuLeft{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .topMenu .socialIconsMenuLine a{
        margin-left: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    .topMenu .socialIconsMenuLine a:first-child{
        margin-left: -8px;
    }
    .topMenu .socialIconsMenuLine a:last-child{
        margin-right: -8px;
    }
    footer{
        height: 40px;
        margin-top: 20px;
    }
    .pageContent{
        
        height: calc(100vh - 160px);
        padding-bottom: 0;
        min-height: 480px;
    }
    .left, .right{
        height: calc(100vh - 160px);
        min-height: 480px;
    }
    .whiteBox{
        height: 100%;
        transition: transform .2s linear;
    }
    .whiteBox .centeredBox{
        min-height: initial;
        height: 100%;
        padding: 20px 0;
        text-align: center;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        
    }
    .whiteBox .flexBox{
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        height: auto;
        max-height: 98%;
        overflow-y: auto;
    }
    .whiteBox .flexBoxTitle{
        position: static;
        height: auto;
        top: 0;
        width: 100%;
        padding-left: 15px;
        -webkit-order: 0;
        -moz-order: 0;
        -ms-order: 0;
        -o-order: 0;
        order: 0;
        text-align: center;
        justify-content: center;
    }
    .whiteBox .flexBoxRight{
        width: 100%;
        max-width: 100%;
        -webkit-order: 1;
        -moz-order: 1;
        -ms-order: 1;
        -o-order: 1;
        order: 1;
        margin-top: 25px;
    }
    .whiteBox .flexBoxRight .textContent{
        padding-left: 15px;
        padding-right: 15px;
    }
    .whiteBox .flexBoxLeft{
        width: 100%;
        -webkit-order: 2;
        -moz-order: 2;
        -ms-order: 2;
        -o-order: 2;
        order: 2;
        height: auto;
        margin-top: 25px;
    }
    .whiteBox .flexBoxLeft img{
        position: static;
        margin: auto;
    }
    .whiteBox .flexBoxRight .knowMore{
        margin-left: auto;
        margin-right: auto;
    }
    .contentWhiteBox .textContent{
        padding-left: 15px;
        padding-right: 15px;
    }
    .contactFooter{
        padding: 5px 15px;
        min-height: 50px;
    }
    .contactFooter .icon{
        width: 36px;
        height: 36px;
        background-size: 20px;
    }
    .moreContentBottom .moreContent{

    }
    .moreContent .topArea{
        height: auto;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .moreContent .topArea .flexBoxLeft{
        width: 100%;
        height: auto;
    }
    .moreContent .topArea .flexBoxRight{
        width: 100%;
    }
    .textTitle{
        margin-top: 20px;
    }
    .closeButton{
        top: 60px;
    }
    .cvFooter .whiteButton{
        margin-right: 20px;
        padding: 8px 15px;
        font-size: 14px;
        margin-bottom: 3px;
        margin-top: 3px;
    }
    .cvFooter .whiteButton.changePage{
        margin-right: 0;
    }
    .moreContent.moreContentActive{
        margin-top: calc(160px - 100vh);
    }
    .blueP{
        font-size: 20px;
        line-height: 24px;
    }
    .photos{
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        height: auto;
        
    }
    .photos a,
    .photos img{
        border-radius: 0;
    }
    .photoLeft{
        width: 100%;
        margin-bottom: 4px;
        height: 300px;
    }
    .photoRight{
        width: 100%;
    }
    .sliderItemImage{
        height: 300px;
    }
    .contentWithSlider .tns-inner{
        max-width: 100%;
    }
    .sliderItemImage{
        max-width: 100%;
        width: auto;
        margin: auto;
    }
    .contentWithSlider .tns-inner{
        left: 0;
    }
    .contentWithSlider{
        max-width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
    }
    .yellowContainer{
        height: 300px;
    }
    .embededPDF{
        height: 300px;
    }
    .textContent .boldP{
        font-size: 14px;
        line-height: 1.2;
    }
    .procent{
        font-size: 24px;
    }
    .buttonsDiv .btnLeft, .buttonsDiv .btnRight{
        height: 50px;
        font-size: 14px;
    }
    .moreContent.moreContentActive{
        padding-bottom: 50px;
    }
    .tns-controls button{
        height: 300px;
        left: -30px;
    }
    .tns-controls button:nth-child(2){
        left: auto;
        right: -30px;
    }
    .maximizeBtn{
        right: 30px;
    }
    #contactForm #btnContact{
        border: 2px solid #D5D5D5;
    }
    .whiteBox:after,
    .slideActive + .whiteBox:before{
        transition: opacity .25s linear;
    }
    .left,
    .right{
        transition: 0.3s ease;
    }
}

@media screen and (max-width: 420px){
    .pageTitle{
        font-size: 28px;
    }
    .whiteBox .flexBoxTitle{
        font-size: 16px;
    }
    .mainP{
        font-size: 14px;
    }
    .whiteBox .flexBoxRight .knowMore{
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }
    .mainP{
        font-size: 14px;
    }
    .moreContent{
        max-width: calc(100% - 30px);
    }
    .closeButton{
        right: 15px;
        margin-right: 15px;
        margin-top: -60px;
        background: #fff;
        z-index: 999;
    }
    .embededPDF{
        height: 150px;
    }
    .photoLeft{
        height: 150px;
    }
    .photoRUp{
        height: 150px;
    }
    .photoDownLeft,
    .photoDownRight{
        height: 150px;
    }
}